<!-- <div class="card-block mb-3"> -->
<table class="table table-sm">
    <tr>
        <td>
            <div class="row p-1" *ngFor="let agencia of agencias;let i=index ">
                <div class="col-md-3 me-1 btn border-warning " [routerLink]="['/agencia', agencia.id]">
                    <img [src]="agencia.imagen" width="800px" height="600px" class="img-fluid border">
                </div>
                <div class="card border-info col-md-3 p-2 btn " [routerLink]="['/agencia', agencia.id]">
                    <div class="card-header">Agencia {{agencia.agencia}}</div><br><br>
                    <p class="text-center ">{{agencia.direccion}}</p>
                    <p class="text-bottom">{{agencia.distrito }} - {{agencia.provincia }} - {{agencia.departamento }} </p>
                </div>
                <div class="col-md-5 card border-primary ms-1">
                    <app-mapa [agencia]="agencia"></app-mapa>
                </div>

            </div>
        </td>
    </tr>
</table>


<!-- </div> -->