<div class="container">
    <div class="row justify-content-sm-center mt-5">
        <div class="col-md-6 col-lg-5">

            <div *ngIf="finish && valida" class="alert alert-success" role="alert">
                Agencia Actualizado!
            </div>
            <div *ngIf="!finish && valida" class="alert alert-info" role="alert">
                Actualice Información
            </div>
            <div *ngIf="!valida" class="alert alert-danger" role="alert">
                Complete todos los datos
            </div>

            <form (submit)="validaAgencia()" class="row g-3 needs-validation" novalidate>
                <div class="form-group">
                    <label for="novalidate" class="control-label">Nombre de Agencia</label>
                    <input type="text" class="form-control" required name="agencia" [(ngModel)]="agencia.agencia">
                </div>

                <div class="form-group">
                    <label for="direccion" class="control-label">Dirección</label>
                    <input type="text" class="form-control" required name="direccion" [(ngModel)]="agencia.direccion">
                </div>

                <div class="form-group">
                    <label for="distrito" class="control-label">Distrito</label>
                    <input type="text" class="form-control" required name="distrito" [(ngModel)]="agencia.distrito">
                </div>

                <div class="form-group">
                    <label for="latitud" class="control-label">Latitud</label>
                    <input type="text" class="form-control" required name="latitud" [(ngModel)]="agencia.lat">
                </div>

                <div class="form-group">
                    <label for="longitud" class="control-label">Longitud</label>
                    <input type="text" class="form-control" required name="longitud" [(ngModel)]="agencia.lon">
                </div>

                <div class="row mt-2 ms-1 ">
                    <div class="form-group col-sm-6 p-2">
                        <div class="d-grid ">
                            <button class="btn btn-lg btn-block btn-warning " routerLink="['/agencias']" type="button">Regresar</button>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 p-2">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-lg btn-block btn-primary">
                                    Actualizar
                                </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>